.navbar {
    justify-content: space-evenly;
    display: flex;
    background-color:#3366FF;
    overflow: hidden;
    height: 63px;
    list-style-type: none;

}
/* 
.logo{



} */

.navbar-nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;

}

.link{
    list-style-type: none;
    margin-right:6px;
    text-decoration: none;
    color:white;

}

.link li {
  text-decoration: none;  
list-style-type: none;

}

.btn{
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background-color: #c93200;
    border-radius: 4px;
    padding: 1.5px 15px;
    transition:0.3s;
    color:#fff;
}

.btn:hover{
background-color:#3e8e41;

}